height*/
*.DS_Store*
*temp*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
HeightTest*
*(Autosaved)*
*cov.samples*
*cov.SNPs*
*null.samples*
*null.SNPs*
*BMI/*
*T2D/*
*CD/*
*UC/*
*SkinPigment/*
Scripts/RunFiles*
